<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.skbnetwork">
    <!-- Below three lines added to capture the image from using camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SKBNetwork"
        tools:targetApi="31">
        <activity
            android:name=".PurchaseItemStatusAtSite"
            android:exported="false" />
        <activity
            android:name=".OtpReceived"
            android:exported="false" />
        <activity
            android:name=".LoginScreenOne"
            android:exported="false" />
        <activity
            android:name=".ClientSiteWorkTypeRecyclerViewToReceiveQuantity"
            android:exported="false" />
        <activity
            android:name=".StoreMenu"
            android:exported="false" />
        <activity
            android:name=".SiteOfficeMenu"
            android:exported="false" />
        <activity
            android:name=".StoreReceivedItemFromVendor"
            android:exported="false" />
        <activity
            android:name=".DemandPendingForHOApproval"
            android:exported="false" />
        <activity
            android:name=".DemandItemStatusAtSite"
            android:exported="false" />
        <activity
            android:name=".demandQuantity"
            android:exported="false" />
        <activity
            android:name=".ClientSiteWorkTypeRecyclerView"
            android:exported="false" />
        <activity
            android:name=".AddWorkTypeForASite"
            android:exported="false" />
        <activity
            android:name=".AddSiteForAClient"
            android:exported="false" />
        <activity
            android:name=".AddNewClientToMaster"
            android:exported="false" />
        <activity
            android:name=".addSubCategoryItems"
            android:exported="false" />
        <activity
            android:name=".ItemMasterRecyclerView"
            android:exported="false" />
        <activity
            android:name=".AddItemToItemMasterView"
            android:exported="false" />
        <activity
            android:name=".HeadOfficeMenu"
            android:exported="false" />
        <activity
            android:name=".SKBMainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>